# Virtual environments
venv/
ENV/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Model files
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# VS Code settings
.vscode/